<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_SaleCategory>
            <version>1.0.0</version>
        </Meanbee_SaleCategory>
    </modules>
    <global>
        <models>
            <meanbee_salecategory>
                <class>Meanbee_SaleCategory_Model</class>
            </meanbee_salecategory>
        </models>
        <helpers>
            <meanbee_salecategory>
                <class>Meanbee_SaleCategory_Helper</class>
            </meanbee_salecategory>
        </helpers>
        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <meanbee_salecategory>
                        <type>singleton</type>
                        <class>Meanbee_SaleCategory_Model_Observer</class>
                        <method>maintainProduct</method>
                    </meanbee_salecategory>
                </observers>
            </catalog_product_save_commit_after>
        </events>
        <meanbee_autocategories>
            <meanbee_salecategory>
                <model>meanbee_salecategory/auto_category_sale</model>
            </meanbee_salecategory>
        </meanbee_autocategories>
    </global>
    <default>
        <meanbee_autocategories>
            <sale_category>
                <enabled>0</enabled>
            </sale_category>
        </meanbee_autocategories>
    </default>
</config>
