<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_AutoCategories>
            <version>1.0.0</version>
        </Meanbee_AutoCategories>
    </modules>
    <global>
        <models>
            <meanbee_autocategories>
                <class>Meanbee_AutoCategories_Model</class>
            </meanbee_autocategories>
        </models>
        <helpers>
            <meanbee_autocategories>
                <class>Meanbee_AutoCategories_Helper</class>
            </meanbee_autocategories>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <meanbee_autocategories_maintain>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>meanbee_autocategories/cron::maintainCategories</model>
                </run>
            </meanbee_autocategories_maintain>
        </jobs>
    </crontab>
    <default>
        <meanbee_autocategories>
            <general>
                <enabled>0</enabled>
            </general>
        </meanbee_autocategories>
    </default>
</config>
